userlist admins
    user admin insecure-password admin

global
    log 127.0.0.1 local0
    chroot /usr/local/sbin
    maxconn 4096
    daemon
    nbproc 4
    pidfile /usr/local/sbin/haproxy.pid

defaults
    log 127.0.0.1 local3
    mode http
    option dontlognull
    option redispatch
    retries 2
    maxconn 2000
    balance roundrobin
    timeout connect 5000ms
    timeout client 5000ms
    timeout server 5000ms

frontend main
    bind 0.0.0.0:6301
    acl to-netdata path_beg /netdata
    acl from-netdata hdr_reg(Referer) .*netdata.*
    use_backend netdata-backend if to-netdata
    use_backend netdata-backend if from-netdata
    default_backend webserver

backend webserver
    {{range gets "/app/servers/*"}}
    server {{base .Key}} {{.Value}} check inter 2000 rise 2 fall 5
    {{end}}

backend netdata-backend
    reqrep ^([^\ ]*\ /)netdata[/]?(.*)     \1\2
    server netdata netdata:19999
